@media(max-width:480px) {
    * {
        margin: 0;
        text-transform: capitalize;
        box-sizing: border-box;
        padding: 0;
        font-family: 'Montserrat', sans-serif;
        font-family: 'Montserrat', sans-serif;
    }

    body {
        background-color: #000;
    }

    div[class*="rightdiv"] {
        /* text-align: center; */
        height: 40px;
        background-color: #000;
        text-align: end;
        display: flex;
        justify-content: end;
        margin-right: 10px;
    }

    a[class*="burgur"] {
        overflow: hidden;
        width: 50px;
        height: 45px;
        background-color: #000;
        position: sticky;
        top: 0;
        /* margin: 0 auto; */
        /* text-align: end; */
    }

    span[class*="burgurafterbefore"] {
        left: 5px;
        top: 20px;
        position: absolute;
        width: 80%;
        height: 5px;
        border-radius: 5px;
        background-color: gray;

    }

    a[class*="burgur"]:hover span[class*="burgurafterbefore"] {
        transform: rotate(50deg);
        top: 20px;
    }

    span[class*="burgurafterbefore"]::before {
        border-radius: 5px;
        content: "";
        left: -1px;
        top: -10px;
        position: absolute;
        width: 100%;
        height: 5px;
        background-color: gray;

    }

    a[class*="burgur"]:hover span[class*="burgurafterbefore"]::before {
        opacity: 0;
    }

    span[class*="burgurafterbefore"]::after {
        content: "";
        border-radius: 5px;
        left: -1px;
        top: 11px;
        position: absolute;
        width: 100%;
        height: 5px;
        background-color: gray;
    }

    a[class*="burgur"]:hover span[class*="burgurafterbefore"]::after {
        transform: rotate(80deg);
        top: -1px;
        left: -1px;
    }

    nav[class*="navbar"] {
        width: 100%;
        height: 10vh;
        background-color: #000;
        padding: 0;
        /* position: sticky;
        top: 0px; */
        z-index: 1000;
    }

    div[class*="shubham"],
    div[class*="shubhu"],
    div[class*="service"],
    div[class*="meet"] {
        padding: 20px;
        text-align: center;
        background-color: #000 !important;
    }

    a[class*="hoverdest"] {
        padding: 5px;
        font-size: 25px;
        color: rgb(128, 128, 128);
        position: relative;
        font-size: 20PX;

    }

    .item:hover.item {
        text-decoration: none;
        color: #f00;
        width: 90px;
        height: 45px;
    }

    .hoverdest:hover {
        color: red;
        text-decoration: none;
    }

    /* -------------------------------------------banner page end------------------------ */
    div[class*="bannertext"] {
        background-color: #000;
        position: relative;
        overflow: hidden;
        background-image: url(../img/aboutimg.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 80vh !important;
    }

    .seconddiv {
        display: none !important;

    }

    h1[class*="display-4"] {
        font-size: 40px !important;
        position: absolute;
        top: 280px !important;
        left: 56px !important;
        color: #fff;
        letter-spacing: 5px;
        animation-name: mitesh;
        animation-duration: 3s;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-delay: 0.5s;
    }

    h1[class*="display-4"]::first-letter {
        color: #f00;
        letter-spacing: 20px;
    }

    @keyframes mitesh {

        0%,
        100% {
            transform: translatey(0px);
            opacity: 0;
        }

        50% {
            opacity: 1;
            transform: translatey(780px);
        }
    }

    h2[ class*="display-4"] {
        color: rgba(255, 255, 255, 0.8);
        font-size: 20px !important;
        position: absolute;
        top: 350px !important;
        left: 130px !important;
        letter-spacing: 5px;
        animation-name: miteshma;
        animation-duration: 3s;
        animation-iteration-count: 1;
        animation-timing-function: linear;
        animation-delay: 0.5s;
    }

    .and {
        display: block;
        color: #f00;
        text-align: center;
    }

    @keyframes miteshma {

        0%,
        100% {
            transform: translatey(0px);
            opacity: 0;
        }

        50% {
            opacity: 1;
            transform: translatey(880px);
        }
    }

    div[class*="animationborder"] {
        animation-iteration-count: infinite;
        animation-duration: 3s;
        transition: all ease 0.5s;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
        height: 100vh;
        background-color: #000;
    }

    /* -------------------------------------------about section start */
    div[class*="aboutsection"] {
        animation-iteration-count: infinite;
        animation-duration: 3s;
        transition: all ease 0.5s;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
        height: 80vh;
        background-color: #000;
    }

    div[class*="aboutsection"]::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(#00ccff, #d400d4);
        animation: animate 14s linear infinite;
        transition: all 0.5s ease;
    }

    div[class*="aboutsection"]::after {
        content: '';
        position: absolute;
        inset: 4px;
        background: #000;
        border-radius: 20px;
    }

    @keyframes animate {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(200deg);
        }
    }

    div[class*="aboutimg"] {
        background-image: url(../img/IMG_2249-01.jpeg) !important;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: 70%;
        height: 50vh;
        left: 10px;
        top: 0px;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        animation-name: aboutimg;
        animation-duration: 3s;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-delay: 0.5s;
        margin: auto;
    }

    @keyframes aboutimg {

        0%,
        100% {
            transform: translatex(-0px);
            /* opacity: 0; */
        }

        50% {
            /* opacity: 1; */
            transform: translatex(-780px);
        }
    }

    div[class*="bannertext"] {
        height: 80vh;
    }

    /* -------------------abouttext------------------ */
    div[class*="abouttext"] {
        background-color: #000;
        position: relative;
        height: 80vh;
    }

    .display-4 {
        letter-spacing: 5px;
        position: absolute;
        top: 109px;
        left: 100px;
        animation-name: display-4;
        animation-duration: 1s;
        animation-delay: 1s;
        animation-timing-function: linear;
        animation-iteration-count: 1;
        color: gray;
    }

    @keyframes display-4 {
        0% {
            transform: translateX(0PX);
        }

        100% {
            transform: translate(-150PX);
        }
    }

    .display-3 {
        font-size: 30px;
        /* letter-spacing: 5px; */
        position: absolute;
        top: 200px;
        left: 105px;
        color: gray;
    }

    .aboutparagraph {
        text-align: justify;
        max-width: 70%;
        position: absolute;
        top: 320px;
        left: 90px;
        display: block;
        color: gray;
    }

    .btnabout {
        background-color: #f00;
        position: absolute;
        padding: 10px;
        font-size: 20px;
        width: 150px;
        bottom: 8px !important;
        left: 137px !important;
        border-radius: 20px;
        text-align: center;
        transition: all 0.5s linear;
        border: 1px solid transparent;
    }

    .btnabout:hover {
        background-color: transparent;
        border: 1px solid #ffdf;
        color: #f00;
    }

    /* }---------------------------------------our service----------- */
    .oursection {
        height: 100vh;
        /* background-color: #f00; */
        position: relative;
    }

    .ourdiv1 {
        position: absolute;
        top: 64px;
        left: 87px;
        width: 80%;
        height: 20vh;
        background-color: #000;
        color: #fff;
        font-size: 50px;
        box-sizing: border-box;
        padding-left: 80px
    }

    .ourdiv2 {
        position: absolute;
        top: 50px;
        left: 91px;
        width: 80%;
        height: 20vh;
        background-color: #000;
        color: rgba(237, 180, 45, 0.527);
        font-size: 50px;
        box-sizing: border-box;
        padding-left: 80px;

    }

    .plus {
        font-size: 20px !important;
        display: block;
        /* text-align: start; */
        box-sizing: border-box;
        padding-left: 31px;
        padding-top: 20px;
    }

    .ourdiv3 {
        position: absolute;
        top: 50px;
        left: 96px;
        width: 80%;
        height: 20vh;
        background-color: #000;
        color: #3bbbdb;
        font-size: 40px;
        box-sizing: border-box;
        padding-left: 20px;
        word-break: keep-all;

    }
    .countbootstrap {
        font-size: 20px !important;
        display: block;
        /* text-align: start; */
        box-sizing: border-box;
        padding-left: 100px;
        padding-top: 20px;
    }

    .ourdiv4 {
        position: absolute;
        top: 50px;
        left: 112px;
        width: 80%;
        height: 20vh;
        background-color: #000;
        color: #c1c451;
        font-size: 50px;
        box-sizing: border-box;
        padding-left:93px;

    }


    .countjs {
        font-size: 20px !important;
        display: block;
        /* text-align: start; */
        box-sizing: border-box;
        padding-left: 11px;
        /* font-size: 5px; */
        padding-top: 20px;
    }


    /* ----------------------------footer------------------------- */
    footer {
        height: 100vh;
        /* background-color: #00ccff; */
        background-color: #000;
    }

    .contact {
        position: relative;
        height: 15vh;
    }

    h6 {
        position: absolute;
        top: 48px;
        color: gray;
        left: 121px;
        font-size: 30px;
        letter-spacing: 3px;
    }

    i {
        position: absolute;
        left: -50px;
        font-size: 50px;
    }

    .loction {
        position: absolute;
        top: 177px;
        left: 105px;
        color: gray;
    }

    .phone {
        position: absolute;
        top: 251px;
        left: 105px;
        color: gray;
    }

    .email {
        position: absolute;
        top: 330px;
        left: 105px;
        color: gray;
    }

    .inputtext {
        width: 100%;
        position: relative;
    }

    input {
        position: absolute;
        left: 50px;
        width: 80%;
        height: 8vh;
        padding-left: 20px;
    }

    input[type="tel"] {
        position: absolute;
        left: 50px;
        top: 81px;
    }

    input[type="email"] {
        position: absolute;
        left: 50px;
        top: 163px;
    }

    .send {
        position: absolute;
        left: 59px;
        bottom: 118px;
        width: 180px;
        height: 50px;
        background-color: #fff;
        text-align: center;
        box-sizing: border-box;
        padding-top: 15px;
        color: #000;
        letter-spacing: 2px;
    }
    .icon{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 8vh;
    }
}